.search{
    display: flex;
    align-items: center;
    padding-left: 5px;
    flex: 1;
    &-input{
        appearance: none;
        display: block;
        height: 24px;
        padding-left: 10px;
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        outline: none;
        &::-webkit-input-placeholder{
            color: #b0bec5;
        }
    }
}